{% extends 'base.html.twig' %}

{% block title %}{{ 'blog_page'|trans }}{% endblock %}

{% block h1 %}{{ 'welcome_blog_page'|trans }}{% endblock %}

{% block menu %}
    {{ parent() }}
    <a href="{{ path('blog_add') }}">{{ 'add_article'|trans }}</a>
{% endblock %}

{% block content %}
    <h2>{{ 'my_blog'|trans }}</h2>
    <p>{{ 'blog_description'|trans }}</p>
    <div>
        {% block content_blog %}

        {% endblock %}
    </div>
{% endblock %}