<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon blog{% endblock %}</title>
</head>
<body>
<h1>{% block h1 %}Bienvenue sur le blog !{% endblock %}</h1>
{% block menu %}
    <a href="{{ path('home') }}">Lien vers page accueil</a>
    <a href="{{ path('blog') }}">Lien vers page blog</a>
    <a href="{{ path('a-propos') }}">Lien vers page a-propos</a>
    <a href="{{ path('blog_add') }}">Ajouté un article</a>

{% endblock %}
{% block left_menu %}
    {{ render(controller('App\\Controller\\BlogController::lastArticlesAction',{'nbArticles':3})) }}
{% endblock %}
{% block content_blog %}
{% endblock %}
<p>Bienvenue sur le blog</p>
</body>
</html>
