<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Titre de page par défaut {% endblock %}</title>
</head>
<body>
<h1>{% block h1 %} Titre h1 par défault {% endblock %}</h1>

{% block menu %}
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('blog_list') }}">Blog</a>
    <a href="{{ path('a-propos') }}">A propos</a>
{% endblock %}

{% block left_menu %}
    <h3>Categories</h3>
    {{ render(controller('App\\Controller\\BlogController::listAllCategoriesAction')) }}

    <h3>Last Articles</h3>
    {{ render(controller('App\\Controller\\BlogController::lastArticlesAction',{'nbArticles':3})) }}
{% endblock %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block content %}
    <p>Contenu de la page d’accueil ici</p>
{% endblock %}
</body>
</html>